*{
  padding: 0px;
  margin:0px;
}
header{
  background-image:url(hero.jpg);
  background-size: cover;
  height: 100vh;
  padding:30px;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.head .logo,.head nav{
  font-weight: bold;
  text-transform: uppercase;
}
.head nav{
  font-size: 26px;
}
.health-sec{
  margin: 50px 0px;
  max-width:40%;

}
.head-sec{
  font-size:40px;
  text-transform: capitalize;
  color: white;
} 
.sec-des{
  line-height: 1.6;
  font-size: 20px;
  color: white;
  margin: 60px 0px;

}
.btn{
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  word-spacing: 2px;
  border-radius: 10px;
  background-color: orange;
  outline:none;
  border: none;
  color: white;
  cursor: pointer;
}
.rand-sec{
  width: 80%;
  margin:100px auto;
}
.head-rand{
  font-size: 28px;
  font-weight: bold;
  opacity: 0.9;
  padding: 30px 0px;
}
.des-rand{
  font-size: 18px;
  line-height: 1.4;
}