* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  --bCol1: #1098ad;
  --bCol2: rgba(0, 0, 0, 0.048);
}
body {
  border-top: 10px solid var(--bCol1);
  color: var(--bCol1);
}
.container {
  width: 80%;
  margin: auto;
}
header.head {
  background-color: var(--bCol2);
  color: var(--bCol1);
  padding: 20px;
}
header.head,
a {
  color: var(--bCol1);
}
header nav {
  padding-top: 10px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li a {
  display: block;
  padding: 5px;
  font-weight: bold;
}
header nav ul li a:hover {
  font-size: 1.25em;
  color: red;
}
/* main{
  display: flex;

}
main article{
  flex: 3;
}
main aside{
  flex: 1;
} */
.head-main {
  padding: 20px 0px;
  font-size: 32px;
  position: relative;
  margin: 20px;
}
.head-main::after {
  content: "top";
  font-size: 16px;
  color: black;
  text-transform: capitalize;
  position: absolute;
  top: 0px;
  background: yellow;
  width: fit-content;
  height: fit-content;
  margin-left: 15px;
  padding: 3px 6px;
}
main header figure {
  max-height: 50%;
}
main header figure figcaption {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.686);
  font-weight: bold;
  word-spacing: 3px;
  text-transform: capitalize;
}
.head-sec{
  text-transform: uppercase;
}
.sec-des {
  color: black;
  line-height: 1.6;
  font-size: 22px;
}
ol li,ul li {
  line-height: 1.4;
  color: black;
}
aside {
  background-color: var(--bCol2);
  border-top: 6px solid var(--bCol1);
  border-bottom: 6px solid var(--bCol1);
  height: fit-content;
  margin-top: 10px;
  padding: 40px 5px;
  text-align: center;
  width: 500px;
}
.aside-head {
  padding-bottom: 30px;
  text-transform: capitalize;
  font-size: 26px;
  color: black;
}
ul {
  list-style: none;
}

aside ul li a {
  text-decoration: none;
  font-weight: bold;
  word-spacing: 2px;
  padding-bottom: 5px;
}
aside ul li a:hover {
  text-decoration: underline;
  color: red;
}
aside ul li p {
  color: black;
  padding: 5px 10px;
  text-align: left;
  font-weight: bold;
}
footer {
  color: black;
}
/* aside ul li figure{
  display: flex;
  width: 80%;
  margin: auto;
}
aside ul li figure:nth-child(2){
 border: 2px solid blue;
}
aside figure figcaption a{
  text-decoration: none;
  word-spacing: 2px;
  font-weight: bold;
} */
